## Import các thư viện cần thiết

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# YOUR CODE HERE (OPTION)

## Khám phá dữ liệu

### Đọc dữ liệu từ file csv vào dataframe

In [6]:
df = pd.read_csv('Airline_Delay_Cause.csv')
display(df)

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,7,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",33.0,2.0,0.92,1.00,...,0.00,0.00,0.0,0.0,129.0,98.0,23.0,8.0,0.0,0.0
1,2022,7,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",78.0,25.0,11.80,0.72,...,0.00,7.48,0.0,0.0,1664.0,887.0,52.0,224.0,0.0,501.0
2,2022,7,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",124.0,19.0,5.84,1.00,...,0.00,5.40,5.0,4.0,1523.0,388.0,35.0,511.0,0.0,589.0
3,2022,7,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",67.0,10.0,1.32,1.00,...,1.00,4.28,0.0,1.0,657.0,103.0,82.0,93.0,25.0,354.0
4,2022,7,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",174.0,30.0,18.10,5.75,...,0.00,2.55,1.0,0.0,2462.0,1686.0,310.0,139.0,0.0,327.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101310,2017,1,WN,Southwest Airlines Co.,SNA,"Santa Ana, CA: John Wayne Airport-Orange County",1576.0,484.0,108.28,1.27,...,0.00,271.74,34.0,2.0,21762.0,4745.0,102.0,3468.0,0.0,13447.0
101311,2017,1,WN,Southwest Airlines Co.,STL,"St. Louis, MO: St Louis Lambert International",2914.0,522.0,147.05,12.26,...,2.35,249.41,75.0,1.0,25536.0,7203.0,707.0,3860.0,65.0,13701.0
101312,2017,1,WN,Southwest Airlines Co.,TPA,"Tampa, FL: Tampa International",2390.0,447.0,140.36,17.54,...,0.46,208.69,29.0,2.0,24203.0,6666.0,1817.0,3389.0,13.0,12318.0
101313,2017,1,WN,Southwest Airlines Co.,TUL,"Tulsa, OK: Tulsa International",404.0,74.0,26.29,0.28,...,0.00,42.22,6.0,0.0,2905.0,993.0,17.0,170.0,0.0,1725.0
101314,2017,1,WN,Southwest Airlines Co.,TUS,"Tucson, AZ: Tucson International",372.0,139.0,26.44,0.78,...,0.00,98.16,3.0,1.0,7033.0,1163.0,47.0,516.0,0.0,5307.0

### Dữ liệu gồm có bao nhiêu dòng và bao nhiêu cột?

In [22]:
num_rows=len(df)
num_cols=len(df.columns)
print(f'Số hàng là {num_rows}')
print(f'Số cột la {num_cols}')

Số hàng là 101315
Số cột la 21

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Theo thông tin từ Kaggle và số liệu của dataframe thu thập được, mỗi dòng cho ta thấy thông tin liên quan đến các chuyến bay bị hoãn.

### Dữ liệu có các dòng bị lặp không?

Sử dụng phương thức `duplicated` của dataframe để hỗ trợ việc kiểm tra dữ liệu có bị lặp không. Biến `have_duplicate` sẽ có giá trị True nếu dữ liệu các dòng bị lặp và ngược lại.

In [23]:
check=set(df.duplicated())
if True in check:
    have_duplicated_rows = True
else:
    have_duplicated_rows = False
assert have_duplicated_rows == False

Vậy là dữ liệu các dòng không bị lặp.

Ta tiếp tục với dữ liệu các cột.

### Mỗi cột có ý nghĩa gì?

Theo thông tin mô tả về data trên Kaggle, các cột trong file 'Airline_Delay_Cause.csv' biểu diễn các trường dữ liệu:

- year: Năm thu thập dữ liệu.
- month: Số tháng diễn ra chuyến bay bị hoãn.
- carrier: Mã công ti hàng không.
- carrier_name: Tên công ti hàng không.
- airport: Mã sân bay.
- airport_name: Tên sân bay.
- arr_flights: Số chuyến bay đến sân bay.
- arr_del15: Số chuyến bay trễ 15 phút.
- carrier_ct: Số chuyến bay bị hoãn vì hãng hàng không.
- weather_ct: Số chuyến bay bị hoãn vì thời tiết.
- nas_ct: Số chuyến bay bị hoãn vì hệ thống hàng không quốc gia.
- security_ct: Số chuyến bay bị hoãn do vi phạm an ninh.
- late_aircraft_ct: Số chuyến bay bị hoãn do một chuyến khác trên cùng máy bay cũng bị hoãn.
- arr_cancelled: Số chuyến bay bị huỷ.
- arr_diverted: Số chuyến bay bị chuyển hướng.
- arr_delay: Tổng thời gian (phút) chuyến bay bị hoãn.
- carrier_delay: Tổng thời gian (phút) chậm do hãng hàng không.
- weather_delay: Tổng thời gian (phút) chậm trễ do thời tiết khắc nghiệt.
- nas_delay: Tổng thời gian (phút) chậm trễ do Hệ thống hàng không quốc gia.
- security_delay: Tổng thời gian (phút) chậm trễ do vấn đề bảo mật.
- late_aircraft_delay: Tổng thời gian (phút) của các chuyến bay bị hoãn do chuyến bay trước đó trên cùng một máy bay bị trễ.

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

Lấy `dtype` (kiểu dữ liệu của mỗi phần tử) của mỗi cột trong `mvt_df` và lưu kết quả vào series `col_dtypes`; series này có index là tên cột.

In [24]:
col_dtypes=df.dtypes
col_dtypes

year                     int64
month                    int64
carrier                 object
carrier_name            object
airport                 object
airport_name            object
arr_flights            float64
arr_del15              float64
carrier_ct             float64
weather_ct             float64
nas_ct                 float64
security_ct            float64
late_aircraft_ct       float64
arr_cancelled          float64
arr_diverted           float64
arr_delay              float64
carrier_delay          float64
weather_delay          float64
nas_delay              float64
security_delay         float64
late_aircraft_delay    float64
dtype: object

**Khám phá các cột có dtype object**

In [25]:
def open_object_dtype(s):
    dtypes=set(s.apply(type))    
    return dtypes

print('- Cột carrier: ')
print(open_object_dtype(df['carrier']))
print('- Cột carrier_name: ')
print(open_object_dtype(df['carrier_name']))
print('- Cột airport: ')
print(open_object_dtype(df['airport']))
print('- Cột airport_name: ')
print(open_object_dtype(df['airport_name']))

- Cột carrier:
{<class 'str'>}
- Cột carrier_name:
{<class 'str'>}
- Cột airport:
{<class 'str'>}
- Cột airport_name:
{<class 'str'>}

**Chuyển các cột có kiểu object về kiểu string**

Vì các kiểu dữ liệu chuỗi có độ dài thay đổi, theo mặc định, nó được lưu dưới dạng dtype object. Nếu bạn muốn lưu trữ chúng dưới dạng string, bạn có thể thực hiện như sau.

In [34]:
df['carrier']=df['carrier'].astype('string')
df['carrier_name']=df['carrier_name'].astype('string')
df['airport']=df['airport'].astype('string')
df['airport_name']=df['airport_name'].astype('string')
col_dtypes=df.dtypes
col_dtypes

year                     int64
month                    int64
carrier                 string
carrier_name            string
airport                 string
airport_name            string
arr_flights            float64
arr_del15              float64
carrier_ct             float64
weather_ct             float64
nas_ct                 float64
security_ct            float64
late_aircraft_ct       float64
arr_cancelled          float64
arr_diverted           float64
arr_delay              float64
carrier_delay          float64
weather_delay          float64
nas_delay              float64
security_delay         float64
late_aircraft_delay    float64
dtype: object

### Với mỗi cột có kiểu dữ liệu dạng numeric, các giá trị được phân bố như thế nào?

Ta thấy được các cột có dữ liệu dạng numeric:

- year
- month
- arr_flights
- arr_del15
- carrier_ct
- weather_ct
- nas_ct
- security_ct
- late_aircraft_ct
- arr_cancelled
- arr_diverted
- arr_delay
- carrier_delay
- weather_delay
- nas_delay
- security_delay
- late_aircraft_delay

 Với mỗi cột numeric, ta tiến hành tính tỉ lệ % giá trị thiếu, min, max và lưu kết quả vào dataframe `nume_col_df`.
 Dataframe này có 3 dòng là "missing_ratio", "min", "max" và có 17 cột như đã liệt kê ở trên.

In [41]:
data={}
float_cols=["year", "month", "arr_flights", "arr_del15","carrier_ct","weather_ct","nas_ct","security_ct","late_aircraft_ct","arr_cancelled","arr_diverted","arr_delay","carrier_delay","weather_delay","nas_delay","security_delay","late_aircraft_delay"]
rows=['missing_ratio', 'min', 'max']

for col in float_cols:
    row=[]
    row.append(round(mvt_df[col].isnull().sum()/len(mvt_df[col])*100,3))
    row.append(df[col].min())
    row.append(df[col].max())
    data.update({f'{col}':row})
nume_col_df=pd.DataFrame(data,index=rows)
display(nume_col_df)

,year,month,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
missing_ratio,0.0,0.0,0.156,0.35,0.156,0.156,0.156,0.156,0.156,0.156,0.156,0.156,0.156,0.156,0.156,0.156,0.156
min,2017.0,1.0,1.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
max,2022.0,12.0,21931.000,4176.00,1147.000,226.000,1884.420,58.690,1531.810,4951.000,154.000,429194.000,151581.000,28294.000,112018.000,3760.000,147167.000

### Với mỗi cột có kiểu dữ liệu dạng categorical, các giá trị được phân bố như thế nào?

Các cột có kiểu dữ liệu dạng categorical:
- carrier
- carrier_name
- airport
- airport_name

In [43]:
cate_cols=["carrier", "carrier_name","airport","airport_name"]
cate_rows=["missing_ratio","num_diff_vals","diff_vals"]
data_cate={}
for col in cate_cols:
    row=[]
    row.append(round(mvt_df[col].isnull().sum()/len(mvt_df[col])*100,3))
    data_cate.update({f'{col}':row})

    row.append(len(mvt_df[col][mvt_df[col].isna()==False].unique()))
    row.append(np.array(mvt_df[col][mvt_df[col].isna()==False].unique()))
    data_cate.update({f'{col}':row})

cate_col_df=pd.DataFrame(data_cate,index=cate_rows)
display(cate_col_df)

,carrier,carrier_name,airport,airport_name
missing_ratio,0.0,0.0,0.0,0.0
num_diff_vals,19,20,384,384
diff_vals,"[9E, AA, AS, B6, DL, F9, G4, HA, MQ, NK, OH, O...","[Endeavor Air Inc., American Airlines Inc., Al...","[ABE, ABY, ACK, AEX, AGS, ALB, ATL, ATW, AUS, ...","[Allentown/Bethlehem/Easton, PA: Lehigh Valley..."